.container{
    background-image: url("../akan/images/images.jpg");
}
@media  screen and (min-width: 480px) and (max-width: 689px) { 
    body {
        color:black;
         }
    }
    @media screen and (min-width: 690px) {
    body {
        color:darkblue;
    }